/* CSS files add styling rules to your content */

body {
	font-family: helvetica, arial, sans-serif;
	margin: 2em;
}

h1 {
	/*  font-style: italic;
	  color: #373fff;
	*/
	font-size: 1.35em;
}

div#text {
	position: absolute;
	left: 6px;
	top: 6px;
	padding: 6px;
	/*
	text-shadow: 0 0 5px white;
	*/
	max-width: 350px;
	background-color: rgba(255, 255, 255, 0.7);
}

.centered {
	height: 20%;
	justify-content: center;
	position: fixed;
	bottom: 0%;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px auto;
	left: 0;
	right: 0;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	background-color: transparent;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	outline: none;
	z-index: 99;
}
